<!DOCTYPE html>
<html>
<head>
<style>
.main { font-size:{% if veer %}5em{% else %}20px{% endif %}; width:100%; }
</style>
</head>

<body>
<div class="main">

    <span style="color:red;">{{ result.word }}</span>
    [<span style="color:green;">{{ result.pron }}</span>]
    {{ result.pos }}
    <span style="color:blue;">{{ result.acceptation }}</span><br><br>

    {% for pos, define in result.define.items %}
        {{ pos }} {{ define }}<br>
    {% endfor %}<br>

    {{ result.gloss }}
</div>
</body>
</html>
