body { font-family:"Wenquanyi Zen Hei", "Helvetica Neue", Helvetica, Arial, sans-serif; background: #dda; color: #222; padding: 0; text-align: center; }

a { color:#3E423A; text-decoration:none; }
quote { padding-left: 12px; display: block; color: #0F7332; border-left: 6px solid lightgray; }

#wrapper { width: 800px; margin: 0 auto; background: #fff; -moz-border-radius: 1.5em; -webkit-border-radius: 1.5em; border-radius: 1.5em; text-align: center; }

#header { font-family: Courier; background: #222; -moz-border-radius-topleft: 1em; -webkit-border-top-left-radius: 1em; -moz-border-radius-topright: 1em; -webkit-border-top-right-radius: 1em; border-top-left-radius: 1em; border-top-right-radius: 1em; padding: 1em; text-align: center; }
#header h1 { font-size: 42px; display: inline; color: #fff; font-weight: normal; }
#header h2 { display: inline; margin-left: 0.5em; font-size: 1.2em; font-weight: normal; color: #dd5; }

#menu { background: #444; }
#menu ul { list-style: none; margin: 0; text-align: right; }
#menu ul li { display: inline; }
#menu ul li a { color: white; font-size: 1.1em; padding: 0 0.8em; line-height: 2.5em; font-weight: normal; text-decoration: underline; }

#header-search { float: right; }
#header-search input { height:24px; }

#content { margin:0 auto; width:660px; text-align:left;}
#content h2 { font-size:22px; }

.entry { margin-left: 10px; margin-top: 30px; }
.entry h1 { font-size:22px; }
.entry-content { line-height: 24px; font-size:16px; }
.entry-content a { color: #B51C1E; } 
.entry-content a:hover { background-color: #B51C1E; color: #FFFFFF; }
.entry-meta { font-size: 13px; margin-top: 20px; }

#footer { margin-top:1em; padding-top:1em; height:30px; font-size:12px; text-align:center; }
#douban_book {float:right;}

.cg { color: green; }
.cr { color: red; }
.cb { color: blue; }
