body {
    font-family:"Wenquanyi Zen Hei", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background: #dda; 
    color: #222; 
    font-size:14px; 
    padding: 0; 
    text-align: center;
}

a { color:#3E423A; text-decoration:none; }


blockquote, quote { padding-left: 8px; display: block; color: #0F7332; border-left: 4px solid #cccccc; }

p code {padding:1px 5px;}
code {background-color:#EEEEEE; color:#222222; font-size: 13px; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;}

h1 {font-family: Georgia;}

#wrapper { width: 800px; margin: 0 auto; background: #fff; -moz-border-radius: 1.5em; -webkit-border-radius: 1.5em; border-radius: 1.5em; text-align: center; }

#header { font-family: Courier; background: #222; -moz-border-radius-topleft: 1em; -webkit-border-top-left-radius: 1em; -moz-border-radius-topright: 1em; -webkit-border-top-right-radius: 1em; border-top-left-radius: 1em; border-top-right-radius: 1em; padding: 1em; text-align: center; }
#header h1 { font-size: 36px; font-family:"Wenquanyi Zen Hei", "Helvetica Neue", Helvetica, Arial, sans-serif;display: inline; color: #fff; font-weight: normal; }
#header h1 a {color:#fff; }
#header h2 { display: inline; margin-left: 0.5em; font-size: 1.2em; font-weight: normal; color: #dd5; }

#menu { background: #444; }
#menu ul { list-style: none; margin: 0; text-align: right; }
#menu ul li { display: inline; }
#menu ul li a { color: white; font-size: 1.1em; padding: 0 0.8em; line-height: 2.5em; font-weight: normal; text-decoration: underline; }

#header-search { float: right; }
#header-search input { height:18px; width:118px; border:medium none; margin-top:22px; background-color:#444444; }

#content { margin:0 auto; width:660px; text-align:left;}

#content a { color:#CC0000; }
#content a:hover { color:#FFFFFF; background-color:#CC0000; }

.entry-title {font-family:Georgia; font-size:22px;}

.entry { margin-left: 10px; margin-top: 30px; }
.entry h1 { font-size:20px; }
.entry-content { line-height: 20px; font-size:14px; }
.entry-content h2 { line-height: 20px; font-size:14px; background-color:gray; padding:4px;}
.entry-content a { color: #B51C1E; } 
.entry-content a:hover { background-color: #B51C1E; color: #FFFFFF; }
.entry-meta { font-size: 13px; margin-top: 20px; }

#footer { margin-top:1em; padding-top:1em; height:30px; font-size:12px; text-align:center; }

.cg { color: green; }
.cr { color: red; }
.cb { color: blue; }
