{% extends "douqian/base.html" %}

{% block header %}
    <h1>豆签</h1>
    {% if readings %}
    <a href="/douqian/logout/" data-icon="delete" data-ajax="false" class="ui-btn-right">Logout</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if readings %}
    <ul data-role="listview">
        {% for read in readings %}
        <li>
            <a href="{{ read.get_absolute_url }}" data-transition="slide">
              <img src="{{ read.book.image }}" /> 
              <h3>{{ read.book.title }}</h3>
              <p><strong>{{ read.get_douqian }}</strong></p>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <a href="/douqian/login_with_douban/" data-role="button" data-ajax="false">
            <img src="/media/images/doubanicon-24-full.png"><br/>
        </a>
        <p><center>Remember your Reading</center></p>
    {% endif %}
{% endblock %}
