{% extends "twitcn_base.html" %}

{% block content %}
<ol class="statuses" id="timeline">

  <li class="hentry status first-status" id="tweet-item-6139202513">
    <span class="thumb"><a href="{{ ROOT_PATH }}/twit_cn">
        <img width="48" height="48" alt="TwitCn" title="Use the real twitter in China -- http://u.nu/5ikx3" src="http://a3.twimg.com/profile_images/502380531/twitcn_normal.jpg"/></a>
    </span>
    <span class="status-body">
        
        <a href="{{ ROOT_PATH }}/twit_cn" class="sender" title="TwitCn"><b>twit_cn</b></a>
         
        <span class="actions">
        
          <div><a class="fav-action" onclick="javascript:create_favorite('6139202513');return false;" id="favo-action-6139202513" title="favorite this tweet" style="display: none;"> </a></div>
        
        </span>
        <span class="entry-content">Oops! Service Unavailable. <a href="">Try again</a> or <a href="{{ ROOT_PATH }}/">go Home</a>.</span>
        <span class="meta entry-meta">
          <a href="{{ ROOT_PATH }}/status/6139202513" class="entry-date" rel="bookmark"><span class="published timestamp">just now</span></a>
          <span>from <a rel="nofollow" href="http://twitcn.info">twitcn</a></span> 
        </span>
        <ul class="actions-hover" style="display: none;">
          <li>
          
            <span class="reply">
              <span class="reply-icon icon"/>
              <a href="#" class="a-reply" onclick="javascript:setTweetText('@twit_cn ');return false;" title="reply to twit_cn">Reply</a>
            </span>
            <span class="reply">
              <span class="rt-icon icon"/>
              <a href="#" class="a-rt" onclick="javascript:setTweetText('RT @twit_cn: Sorry, Service Unavailable. Try again');return false;" title="retweet this tweet">ReTweet</a>
            </span>
          
          </li>
        </ul>
    </span>
  </li>
</ol>
{% endblock %}
