<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="A twitter-like Twitter Clinet, Made for Esenihc!" name="description" /> 
<title>TwitCN - Info from Twitter</title>
<link href="/twitcn_media/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<style type="text/css">
body {
    background: #B2DFDA url('/twitcn_media/images/bg.gif') fixed no-repeat top left; 
}
#container {
    margin:1em auto;
    position:relative;
    text-align:center;
    width:763px;
}
</style>
</head>
<body>

<div id="container">
    <div id="login-form">
        <p>
          <img width="155" height="36" src="/twitcn_media/images/twitcn_logo_header.png" alt="TwitCN"/>    
        </p>
        <p>
		Login with <font size="4" color="red">Oauth</font>:<br/>
		<a href="{{ ROOT_PATH }}/oauth/"><img border="0px" alt="OAuth Login" src="/twitcn_media/images/Sign-in-with-Twitter-lighter.png"/></a>
		</p>
    </div>
</div>
	
</body>
</html>
