{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="entry-content" style="padding:40px;">
    1. Who
    <ul>
      <li>Wang Honggang</li>
      <li>Beijing, Python, Web Dev</li>
    </ul>
    2. Geek Stuff
    <ul>
      <li>Django</li>
      <li>PostgreSQL</li>
      <li>Nginx</li>
      <li>Ubuntu Server</li>
    </ul>
    3. Contact
    <ul>
      <li>Email: <img src="/site_media/images/whgking_gmail.png" alt="gmail"></li>
      <li>Twitter: @<a href="http://twitter.com/#!/mitnk">mitnk</a></li>
    </ul>
</div>
{% endblock %}
