{% extends "base.html" %}

{% block title %}About Mitnk{% endblock %}

{% block content %}
<div class="entry">
    <h1>About Me</h1>

    <img src="/site_media/images/mitnk_small.png" width=100 style="float:left; margin:10px;">

    <p>
    The ID mitnk is an id I began to use from college period.<br>
    My real name is Wang Honggang.
    </p>

    <p>
    As a programmer, I have worked for several years.<br>
    Firstly involved with Windows stuff: Visual C++, MFC,<br>
    and a little C#, and then I dropped them.
    </p>

    <p>
    New life began with Ubuntu and Python, and enjoy them a lot.<br>
    Now my work and play platform is Mac OS X.
    </p>

    <p>
    Some thing help me a lot: twitter, google, stackexchange.<br>
    Thanks the Internet. And Fuck the GFW.
    </p>

    <p>
    You can find me in Beijing, or at <a href="http://twitter.com/mitnk">Twitter</a>,
    <a href="http://github.com/mitnk">Github</a>,
    or <code>whgking</code> AT Gmail.
    </p>

</div>
{% endblock %}
