{% extends "base.html" %}
{% load common_tags %}

{% block keywords %}<meta name="keywords" content="{{ article.title }}, {{ article.slug }}, {{ article.category }}" />{% endblock %}
{% block description %}<meta name="description" content="{{ article.title }}, {{ article.slug }}, {{ article.category }}" />{% endblock %}
{% block canonical %}<link rel="canonical" href="http://mitnk.com{{ article.get_absolute_url }}" />{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="/site_media/css/pygments.css" />
    <link type="text/css" rel="stylesheet" href="/site_media/css/comments.css" />
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="entry">
  <h1 class="entry-title">{{ article.title|safe }}</h1>
  <div class="entry-content">
      {{ article.content|pygments_markdown|safe }}
  </div>
  <div class="entry-meta">
    Posted in <a href="{{ article.category.get_absolute_url }}">{{ article.category }}</a> at {{ article.added|date:"N j, Y" }}
  </div>

  {% if article.allow_comment %}
    {% include "comments/comments.html" %}
  {% endif %}
</div>
{% endblock %}
