{% extends "base.html" %}

{% block title %}{% if tag %}Tag: {{ tag.title }}{% else %}Mitnk's Blog{% endif %}{% endblock %}

{% block content %}
  {% load pagination_tags %}
  {% autopaginate articles 6 %}

    {% if not articles.count %}
    <h1>No available data.</h1>
    {% endif %}


    {% for article in articles %}
    <div class="entry">
        <h2 class="entry-title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
        <div class="entry-meta">
            Posted at {{ article.added|date:"N j, Y" }} Tags: 
            {% for tag in article.tags.all %}
                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    {% paginate %}

{% endblock %}
