{% extends "base.html" %}

{% block title %}Kindle Notes{% endblock %}

{% block canonical %}
  <meta name="robots" content="NONE,NOARCHIVE">
{% endblock %}

{% block extra_css %}
<style>
  .info_column {float:left; width:50%; font-size:14px;}
  .note {padding:10px; line-height:18px;}
  .note .openQuote {background: url("/media/images/AmazonLeftQuote.png") no-repeat scroll 100% 0 transparent; padding-right: 18px; margin-right:6px;}
  .note .closeQuote {background: url("/media/images/AmazonRightQuote.png") no-repeat scroll 100% 0 transparent; padding-right:18px; margin-right:8px;}
  .note .added {color:#EE4400;}
  .note .book {color:#F6C100;}
</style>
{% endblock %}

{% block content %}
  {% load twitcn_filters %}
  {% load pagination_tags %}
  {% autopaginate notes 20 %}

  <div class="info_column">
    {% for note in notes|slice:":10" %}
    <div class="note">
      <span class="openQuote">&nbsp;</span>
      <span class="text">{{ note.text }}</span>
      <span class="closeQuote">&nbsp;</span>
      {% if note.book %}From <span class="book"><a href="{% url notes_index %}?book={{ note.book }}">{{ note.book }}</a></span>{% endif %}
      <br/>
      <span class="added">{{  note.added|date:"N j, Y" }}</span>
    </div>
    {% endfor %}
  </div>

  <div class="info_column">
    {% for note in notes|slice:"10:" %}
    <div class="note">
      <span class="openQuote">&nbsp;</span>
      <span class="text">{{ note.text }}</span>
      <span class="closeQuote">&nbsp;</span>
      {% if note.book %}From <span class="book"><a href="{% url notes_index %}?book={{ note.book }}">{{ note.book }}</a></span>{% endif %}
      <br/>
      <span class="added">{{  note.added|date:"N j, Y" }}</span>
    </div>
    {% endfor %}
  </div>

  <div style="clear:both;"> </div>
  {% paginate %}
{% endblock %}
