{% load twitcn_filters %}

{% for status in messages %}
  <li class="hentry status{% ifequal forloop.counter 1 %} first-status{% endifequal %}">
    <span class="thumb"><a href="{{ ROOT_PATH }}/{{ status.from_user }}/">
        <img width="48" height="48" src="{{ status.profile_image_url }}" alt="{{ status.from_user }}"/></a>
    </span>
    <span class="status-body">
        <a class="sender" href="{{ ROOT_PATH }}/{{ status.from_user }}/"><b>{{ status.from_user }}</b></a>
        <span class="actions">
          <div><a title="favorite this tweet" id="favo-action-{{ status.id }}" onclick="javascript:create_favorite('{{ status.id }}');return false;" class="fav-action"> </a></div>
        </span>
        <span class="entry-content">{{ status.text|ParseStatusText|safe }}</span>
        <span class="meta entry-meta">
          <a rel="bookmark" class="entry-date" href="{{ ROOT_PATH }}/status/{{ status.id }}/"><span class="published timestamp">{{ status.created_at }}</span></a>
          <span>{% if status.source %}via {{ status.source|safe }}{% endif %}</span> 
        </span>
        <ul class="actions-hover">
          <li>
            <span class="reply">
              <span class="reply-icon icon"/>
              <a title="reply to {{ status.from_user }}" onclick="javascript:setTweetText('@{{ status.from_user }} ');return false;" class="a-reply" href="#">Reply</a>
            </span>
            <span class="reply">
              <span class="rt-icon icon"/>
              <a title="retweet this tweet" onclick="javascript:setTweetText('RT @{{ status.from_user }}: {{ status.text }}');return false;" class="a-rt" href="#">ReTweet</a>
            </span>
          </li>
        </ul>
    </span>
  </li>
{% endfor %}

{% if not from_bing %}
    <div id="pagination">
        <a id="more" class="round more" onclick="javascript:loadMoreStatus({{ more_data_json }});return false;" href="#">more</a>
    </div>
{% endif %}
