<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>twitcn</title>
<style>
body {
    font-size:{% if veer %}4em{% else %}20px{% endif %};
}
textarea {
    width:100%;
}
.tweet {
    border-bottom:{% if veer %}6{% else %}2{% endif %}px solid #AAAAAA;
    margin-top:6px;
}
#char_count {
    font-weight: bold;
}
</style>
<script type="text/javascript">
function favo(obj, id) {
    var xmlhttp;
    if (window.XMLHttpRequest)
        xmlhttp=new XMLHttpRequest();
    else // for IE6
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");

    if (obj.innerHTML == "Favo") {
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                obj.innerHTML = "Favo" + xmlhttp.responseText;
        }
        xmlhttp.open("POST", ".", true);
        xmlhttp.send("action=favo&status_id=" + id);
    }
    else {
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                obj.innerHTML = xmlhttp.responseText;
        }
        xmlhttp.open("POST", ".", true);
        xmlhttp.send("action=unfavo&status_id=" + id);
    }
    obj.innerHTML = '<img{% if veer %} style="height:1em;"{% endif %} src="/site_media/images/ajax-loader-bar.gif">';
}
function reply(name, id) {
    document.getElementById("in_reply_to_status_id").value = id;
    document.getElementById("tweet-text").value = "@" + name + " ";
    document.getElementById("tweet-text").focus();
}
function retweet(text) {
    document.getElementById("tweet-text").value = text;
    document.getElementById("tweet-text").focus();
}
function tweet() {
    var xmlhttp;
    if (window.XMLHttpRequest)
        xmlhttp=new XMLHttpRequest();
    else // for IE6
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
            document.getElementById("new_tweets").innerHTML = xmlhttp.responseText + document.getElementById("new_tweets").innerHTML;
    }
    xmlhttp.open("POST", ".", true);
    var tweet_text = document.getElementById("tweet-text").value;
    var in_reply_to_status_id = document.getElementById("in_reply_to_status_id").value;
    xmlhttp.send("tweet_text=" + tweet_text + "&in_reply_to_status_id=" + in_reply_to_status_id);
}
function check_char_count() {
    var tweet_text = document.getElementById("tweet-text").value;
    var tweet_length = tweet_text.length;
    if (tweet_length == 0 || tweet_text.indexOf("@") == -1) {
        document.getElementById("in_reply_to_status_id").value = "";
    }
    var len = 140 - tweet_length;
    if (len < 0)
        document.getElementById("char_count").innerHTML = '<font color="red">' + len + '</font>';
    else
        document.getElementById("char_count").innerHTML = len;
}
</script>
</head>
<body>
    <form method="POST" action=".">
    <input type="hidden" id="in_reply_to_status_id" name="in_reply_to_status_id" value="">
    <textarea onchange="check_char_count();" onkeyup="check_char_count();" name="tweet-text" id="tweet-text" tabindex="1"></textarea><br/>
    <input type="button" onclick="tweet()" value="Tweet"/> <span id="char_count">140</span>
    </form>
    {% load twitcn_filters %}
    {% for status in messages %}
    <div id="new_tweets"></div>
    <div class="tweet">
    <b style="color:red;">{{ status.user.screen_name }}</b>: {{ status.text|ParseStatusText|safe }}<br/>
    {{ status.relative_created_at }} <a  href="javascript:void(0)" onclick="favo(this, '{{ status.id }}')">Favo{% if status.favorited %}ed{% endif %}</a> <a href="javascript:void(0)" onclick="reply('{{ status.user.screen_name }}', '{{ status.id }}')">Re</a> <a href="javascript:void(0)" onclick="retweet('RT @{{ status.user.screen_name }}: {{ status.text }}')">RT</a>
    </div>
    {% endfor %}
</body>
</html>
