<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>twitcn</title>
<style>
* {
    font-size:{% if veer %}4em{% else %}20px{% endif %};
}
textarea {
    width:100%;
}
.tweet {
    border-bottom:{% if veer %}6{% else %}2{% endif %}px solid #AAAAAA;
    margin-top:6px;
}
</style>
<script type="text/javascript">
function favo(obj, id) {
    var xmlhttp;
    if (window.XMLHttpRequest)
        xmlhttp=new XMLHttpRequest();
    else // for IE6
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");

    if (obj.innerHTML == "Favo") {
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                obj.innerHTML = "Favo" + xmlhttp.responseText;
        }
        xmlhttp.open("POST", ".", true);
        xmlhttp.send("action=favo&status_id=" + id);
    }
    else {
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                obj.innerHTML = xmlhttp.responseText;
        }
        xmlhttp.open("POST", ".", true);
        xmlhttp.send("action=unfavo&status_id=" + id);
    }
    obj.innerHTML = '<img{% if veer %} style="height:2em;"{% endif %} src="/site_media/images/ajax-loader-bar.gif">';
}
function reply(name, id) {
    document.getElementById("in_reply_to_status_id").value = id;
    document.getElementById("tweet-text").innerHTML = "@" + name + " ";
    document.getElementById("tweet-text").focus();
}
function retweet(text) {
    document.getElementById("tweet-text").innerHTML = text;
    document.getElementById("tweet-text").focus();
}
</script>
</head>
<body>
    <form method="POST" action=".">
    <input type="hidden" id="in_reply_to_status_id" name="in_reply_to_status_id" value="">
    <textarea name="tweet-text" id="tweet-text" tabindex="1"></textarea><br/>
    <input type="submit" value="Tweet"/>
    </form>
    {% load twitcn_filters %}
    {% for status in messages %}
    <div class="tweet">
    <b style="color:red;">{{ status.user.screen_name }}</b>: {{ status.text|ParseStatusText|safe }}<br/>
    {{ status.relative_created_at }} <a  href="javascript:void(0)" onclick="favo(this, '{{ status.id }}')">Favo{% if status.favorited %}ed{% endif %}</a> <a href="javascript:void(0)" onclick="reply('{{ status.user.screen_name }}', '{{ status.id }}')">Re</a> <a href="javascript:void(0)" onclick="retweet('RT @{{ status.user.screen_name }}: {{ status.text }}')">RT</a>
    </div>
    {% endfor %}
</body>
</html>
