<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>twitcn</title>
<style>
  body { font-size: 3em; }
  textarea { width:94%; font-size:1.2em; padding:0.2em;margin:0.3em;height:3.3em; }
  .tweet { border-bottom:2px solid #AAAAAA; margin-top:6px; }
  .footer { text-align:center; }
  #char_count { font-weight: bold; font-size:1.6em; }
  #tweet-btn {font-size:1em; }
</style>
</head>
<body>
    <input type="hidden" id="in_reply_to_status_id" value="">
    <textarea onblur="check_char_count()" onkeyup="check_char_count()" id="tweet-text" tabindex="1"></textarea>
    <input id="tweet-btn" type="button" onclick="tweet()" value="Tweet"/> <span id="char_count">140</span>
    <br> <br>
    {% load twitcn_filters %}
    {% for status in messages %}
    <div id="new_tweets"></div>
    <div class="tweet">
      {% if status.retweeted_by %}
        <b style="color:red;">{{ status.retweeted_by.screen_name }}</b>: RT @{{ status.user.screen_name }}: {{ status.text|ParseStatusText|safe }}<br/>
      {% else %}
        <b style="color:red;">{{ status.user.screen_name }}</b>: {{ status.text|ParseStatusText|safe }}<br/>
      {% endif %}
      {{ status.relative_created_at }}

      {% if status.retweet_users %}
        RT by {% for user in status.retweet_users %} @{{ user.screen_name }}{% endfor %}
      {% else %}
          <a href="javascript:void(0)" onclick="favo(this, '{{ status.id }}')">Favo{% if status.favorited %}ed{% endif %}</a>
        {% if status.retweeted_by %}
          <a href="javascript:void(0)" onclick="reply('{{ status.retweeted_by.screen_name }}', '{{ status.retweeted_id }}')">Re</a>
          <a href="javascript:void(0)" onclick="retweet('RT @{{ status.retweeted_by.screen_name }}: RT @{{ status.user.screen_name }}: {{ status.text|escapejs }}')">RT</a>
        {% else %}
          <a href="javascript:void(0)" onclick="reply('{{ status.user.screen_name }}', '{{ status.id }}')">Re</a>
          <a href="javascript:void(0)" onclick="retweet('RT @{{ status.user.screen_name }}: {{ status.text|escapejs }}')">RT</a>
        {% endif %}
          <a href="javascript:void(0)" onclick="new_retweet(this, '{{ status.id }}')">NewRT</a>
      {% endif %}
    </div>
    {% endfor %}

    <div class="footer">Powered by @mitnk</div>

    <script type="text/javascript" src="/media/twitcn/js/private.js"></script>
    <img style="display:none" src="/media/images/ajax-loader-bar.gif">
</body>
</html>
