{% extends "base.html" %}

{% block title %}About - mitnk.com{% endblock %}
{% block content %}
<div class="entry-content" style="padding:40px;">
    1. Who<br />
    <ul>
      <li>王宏钢、83年</li>
      <li>Beijing、C/C++、Python、Web Dev</li>
    </ul>
    2. Why Thinking Critically<br />
    <ul>
      <li>《<a href="http://book.douban.com/subject/4903266/">Beyond Feelings</a>: A Guide to Critical Thinking》</li>
      <li>Wiki: <a href="http://en.wikipedia.org/wiki/Critical_thinking">Critical Thinking</a></li>
    </ul>
    3. 这个部落格用到的技术
    <ul>
      <li>Nginx, 一个HTTP Server.</li>
      <li>Django, 一个基于的python网站框架</li>
      <li>PostgreSQL, 一个开源数据库</li>
      <li>Ubuntu Server, Linux的一个发行版</li>
      <li>vps, 由 <a href="http://ramhost.us/">ramhost</a> 提供</li>
    </ul>
    4. 如何联系我？<br />
    <ul>
      <li>whgking E.T. gmail.com</li>
      <li>Twitter: @<a href="http://twitter.com/mitnk">mitnk</a>
    </ul>
</div>
{% endblock %}
