{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block content %}
<div style="padding-top:30px;">
1. 我是谁？ <br />
<ul>
    <li>王宏钢， 83年，单身</li>
    <li>北京、Python程序员、Web development</li>
    <li>目前在华美汉盛工作</li>
    <li>我的 Twitter: @<a href="http://twitter.com/mitnk">mitnk</a>
</ul>
2. 为啥这里叫 Thinking Critically ？<br />
<ul>
<li>源自一本书《Beyond Feelings: A Guide to Critical Thinking》</li>
<li>Wiki: <a href="http://en.wikipedia.org/wiki/Critical_thinking">Critical Thinking</a></li>
</ul>
3. 这个部落格会有什么文章？<br />
<ul>
<li>技术文章，比如Linux或python相关</li>
<li>读书笔记，我常常假装一个爱看书的人:)</li>
<li>胡思乱想，乱敲些不成熟的思考</li>
<li>其它，我可能出于兴趣写些其它方面的文章</li>
</ul>
4. 这个部落格用到的技术
<ul>
<li>Nginx, 一个HTTP Server.</li>
<li>Django, 一个基于的python网站框架</li>
<li>PostgreSQL, 一个开源数据库</li>
<li>Ubuntu Server, Linux的一个发行版</li>
<li>vps, 由 ramhost 提供</li>
</ul>
5. 如何联系我？<br />
<ul>
<li>whgking E.T. gmail.com</li>
</ul>
</div>
{% endblock %}
