{% extends "base.html" %}

{% block title %}About - {% endblock %}
{% block content %}
<div class="entry-content" style="padding:40px;">
    1. Who
    <ul>
      <li>Wang Honggang</li>
      <li>Beijing, Python, Web Dev</li>
    </ul>
    2. K.I.S.S
    <ul>
      <li>Keep It Simple and Stupid: <a href="http://en.wikipedia.org/wiki/KISS_principle">K.I.S.S</a></li>
    </ul>
    3. Geek Stuff
    <ul>
      <li>Django</li>
      <li>PostgreSQL</li>
      <li>Nginx</li>
      <li>Ubuntu Server</li>
    </ul>
    4. Contact Me
    <ul>
      <li>whgking E.T. gmail.com</li>
      <li>Twitter: @<a href="http://twitter.com/mitnk">mitnk</a>
    </ul>
    5. Host
    <ul>
      <li>vps, by <a href="http://ramhost.us/">ramhost</a></li>
    </ul>
</div>
{% endblock %}
