{% extends "base.html" %}
{% load common_tags %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="/site_media/css/pygments.css" />
{% endblock %}

{% block title %}{{ article.title }} - {% endblock %}

{% block content %}
<div class="entry">
  <h1 class="entry-title">{{ article.title|safe }}</h1>
  <div class="entry-content">
      {{ article.content|pygmentize|safe }}<br/>

  </div>
  <div class="entry-meta">
    Created at: <span style="color:#33333;">{{ article.added|date:"N j, Y" }}</span> Category: <a href="{{ article.category.get_absolute_url }}">{{ article.category }}</a> 
  </div>

</div>

{% endblock %}
