<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  {% if request.META.QUERY_STRING %}<meta name="robots" content="noindex">{% endif %}
  {% block keywords %}<meta name="keywords" content="mitnk,homepage" />{% endblock %}
  {% block description %}<meta name="description" content="mitnk's personally blog" />{% endblock %}
  {% block canonical %}{% endblock %}

  <link rel="shortcut icon" href="/site_media/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="Mitnk's Blog - RSS Feed" href="http://mitnk.com/feed/" />
  <link type="text/css" rel="stylesheet" href="/site_media/css/main.css" />
  <link type="text/css" rel="stylesheet" href="/site_media/css/paginator.css" />
  
  {% block extra_css %}{% endblock %}
  <title>{% block title %}Evil Inside{% endblock %}</title>
</head>

<body>
<div id="wrapper">
  <div id="header">
    <h1><a href="/">Evil Inside</a></h1>

    {% include "blog/google_cse.html" %}

    <div id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/commands/">Commands</a></li>
        <li><a href="/notes/">Notes</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
  </div>

{% if is_ie67 %}
    {% include "forbid_ie67.html" %}
{% endif %}

  <div id="content"> {% block content %}{% endblock %} </div>
  <div style="height:20px"></div>

</div> <!-- end #wrapper -->


<div id="footer">
  Power by <a href="http://twitter.com/mitnk">@mitnk</a> 2012 <a href="/feed/">RSS</a>
</div>

<script type="text/javascript" src="/site_media/js/main.js"> </script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18137446-1']);
  _gaq.push(['_setDomainName', '.mitnk.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
