<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="google-site-verification" content="uVYgBKklVqQWNChvnU3Jyg1mUDnu6-6bVhuP3Sb3V0I" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% if request.META.QUERY_STRING %}<meta name="robots" content="noindex">{% endif %}
<meta name="keywords" content="mitnk,homepage,think critically,thinking critically" />
<title>{% block title %}Thinking Critically{% endblock %}</title>
<link type="text/css" rel="stylesheet" href="/site_media/css/main.css" />
<link type="text/css" rel="stylesheet" href="/site_media/css/paginator.css" />
<link type="text/css" rel="stylesheet" href="/site_media/css/prettify.css" />
{% block extra_css %}{% endblock %}
<script type="text/javascript" src="/site_media/js/main.js"></script>
<script type="text/javascript" src="/site_media/js/prettify.js"></script>
{% block extra_js %}{% endblock %}
</head>

<body{% block body_event %}{% endblock %}>
<div id="wrapper">
  {% include "header.html" %}
  <div id="content"> {% block content %}{% endblock %} </div>
  {% include "footer.html" %}
</div> <!-- end #wrapper -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18137446-1']);
  _gaq.push(['_setDomainName', '.mitnk.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
