<!DOCTYPE html>
<html>
<head>
  {% load common_tags %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {% if request.META.QUERY_STRING %}<meta name="robots" content="noindex">{% endif %}
  {% block keywords %}<meta name="keywords" content="mitnk,homepage" />{% endblock %}
  <link rel="alternate" type="application/rss+xml" title="K.I.S.S - RSS Feed" href="http://mitnk.com/feed/" />
  <title>{% block title %}{% endblock %}K.I.S.S</title>
  <link type="text/css" rel="stylesheet" href="/site_media/css/main.css" />
  <link type="text/css" rel="stylesheet" href="/site_media/css/paginator.css" />
  {% block extra_css %}{% endblock %}
</head>

<body{% block body_event %}{% endblock %}>
<div id="wrapper">
  <div id="header">
    <h1>K.I.S.S</h1>
    <h2>Keep it simple, Stupid!</h2>
    {% ifequal request.META.PATH_INFO|get_first_path "/wiki/" %}
      {% include "google_cse.html" %}
    {% endifequal %}
  </div>

  <div id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </div>

  <div id="content"> {% block content %}{% endblock %} </div>
  <div style="height:20px"></div>
</div> <!-- end #wrapper -->

<div id="footer">
  <a href="http://www.djangoproject.com"><img src="/site_media/images/djangosite.gif"></a>
  Power by <a href="http://twitter.com/mitnk">@mitnk</a> 2010-2011 <a href="/feed/">RSS</a>
</div>
{% block extra_js %}{% endblock %}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18137446-1']);
  _gaq.push(['_setDomainName', '.mitnk.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
