<center>
<div class="entry-content" style="background-color:#CCCCCC;">
    <h3>Your Browser Is Too Old!</h3>
    <h3>请升级您的浏览器！</h3>

    <div style="text-align:center;">
        <ul style="text-align:left;margin-left:460px;">
            <li>IE8 or Higher</li>
            <li><a href="http://www.mozilla.org/en-US/firefox/fx/">Firefox</a> (recommended)</li>
            <li><a href="http://firefox.com.cn/download/">Firefox 浏览器</a> (推荐)</li>
            <li><a href="https://www.google.com/chrome/">Google Chrome</a> (recommended)</li>
            <li><a href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html?hl=zh-cn&brand=chmo">谷歌浏览器</a> (推荐)</li>
            <li><a href="http://www.opera.com/">Opera</a></li>
            <li>能读懂英文的话最好安装英版的</li>
        </ul>
    </div>

    <img src="/site_media/images/ie6countdown.png" alt="ie6 count down"><br/>
    来源: <a href="http://www.ie6countdown.com">ie6countdown</a> by Microsoft
</div>
</center>
